.columnsTitle {
  // color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 25px 0 10px;
}

.btn {
  width: 100%;
  margin-top: 15px;
}
//CreateTable
// .form {
//   position: absolute;
//   left: 50%;
//   top: 50%;
// }
